@page
@model StarTrekWebApp.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<p>
	This project was developed within the discipline of Plataformas de Desenvolvimento at the Instituto Superior de Engenharia de Coimbra, Instituto Politécnico de Coimbra taught by teacher Ricardo Ângelo Santos Filipe.
</p>
<p>
	Academic year: 2022/2023
</p>
<p>
	Developed by: André Gonçalves Rodrigues Nº 2009015122
</p>
<img class="pics border" src="~/images/1661251889159.jpg" width="505" height="380">

