@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<h1>Star Trek</h1>
<p>Star Trek is an American science fiction media franchise created by Gene Roddenberry, which began with the eponymous 1960s television series and quickly became a worldwide pop-culture phenomenon. The franchise has expanded into various films, television series, video games, novels, and comic books. With an estimated $10.6 billion in revenue, it is one of the most recognizable and highest-grossing media franchises of all time.</p>

<h2>NEWS</h2>

<div class="flexbox">
	<div class="col">
		<h2>RECAP | 201 The Broken Circle - Star Trek: Strange New Worlds</h2>
		<p>
			SPOILER WARNING: This article contains story details and plot points for Star Trek: Strange New Worlds.

			In the Season 2 premiere episode of Star Trek: Strange New Worlds, "The Broken Circle," a distress call from Lt. Noonien-Singh compels Spock to disobey orders and take the U.S.S. Enterprise and its crew into disputed space, risking renewed hostilities with the Klingons in a bid to aid their shipmate.
		</p>
		<a href="https://intl.startrek.com/news/recap-201-the-broken-circle-strange-new-worlds" target="_blank">
			<img class="pics border" src="https://intl.startrek.com/sites/default/files/images/2023-06/recap_snw_201.jpg" width="505" height="380">
		</a>
		<p class="caption">
			Illustrated banner of Chapel and M'Benga facing each other in 'The Broken Circle'
		</p>
	</div>
	<div class="col">
		<a href="https://intl.startrek.com/news/lessons-learned-from-liam-shaw" target="_blank">
			<img class="pics border" src="https://intl.startrek.com/sites/default/files/images/2023-06/essay_liam-shaw-cranky-pants.jpg" width="505" height="380">
		</a>
		<p class="caption">
			Illustrated banner featuring Captain Liam Shaw
		</p>
		<h2>
			Lessons Learned from Liam Shaw
		</h2>
		<p>
			“You must have heard about
			the Battle Of Wolf 359.”
			— Captain Liam Shaw
			Let me be perfectly blunt. Liam Shaw was a jerk.

			Introduced to audiences in the third and final season of Star Trek: Picard as captain of the U.S.S. Titan-A, this former galactic grease monkey was brash, brazen, and more than a little overbearing. In fact, so irritating was his black and white by-the-book mentality that I soon found myself wishing he’d end up phaser fodder before too long. And that was even before he assigned two of my childhood heroes to the indignity of sharing a bunk bed. Whether it was the subtle delight he took in informing Will Riker that he had purged the ship of his jazz library, or the constant barrage of sarcasm he seemed to spew at every given turn, I quickly began to loath Captain Liam Shaw.
		</p>
	</div>
</div>
